
header{
    .logo{
        text-align: center;
        margin: auto;
        vertical-align: middle;
        display: flex;
        margin: 0.5rem 1rem;
        i{
            color: black;

        }
        img{
            height: 2rem;
            width: 10rem;
            margin: auto;
        }
    }
}