@use '../utils/variables';
@import '../utils/mixins';

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: variables.$colour-medium;
    text-align: center;
    
    
    h2{
        padding: 2rem;
    }
    
    p{
        padding: 0 2rem;
    }

    button{
        @include button;
    }
}