@use '../utils/variables';

.instructions{
    display: flex;
    flex-direction: column;
    width: 95%;
    h2{
        margin: 1.5rem 0 0 1.5rem;
        
    }
    nav{
        margin-left: 1rem;
        width: 100%;
        margin-bottom: 2rem;
        ol{   
            counter-reset: li;
            list-style: none;
            *list-style: decimal; 
            border-radius: 0.3em;
            li{
                background: variables.$colour-background;
                font-weight: bold;
                padding: 2rem;
                margin: 1rem;
                box-shadow: inset -5px -5px darken(variables.$colour-background, 10%);
                border-radius: 30px;
                i{
                    padding-right: 1.5rem;
                }
            }
            li:before {
                content:counter(li);
                counter-increment: li;
                padding: 8px;
                background: variables.$colour-primary;
                color: white;
                margin: 0 1rem 0 -2.5rem;
                font-size: 10px;
                border-radius: 50%;
                aspect-ratio: 1;
            }
            .nav__link--active{
                background: #ead7ffa6;
                i{
                    color: variables.$colour-primary;
                }
            }
        }
    }

}

@media (min-width: 768px) {
    /* For tablets: */
    .instructions{
        text-align: center;
        nav{
            ol{
                display: flex;
                justify-content: center;
            }
        }
    }
}


