@use '../utils/variables';

.instructions{
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem;
    nav{
        margin-bottom: 2rem;
        ol{   
            counter-reset: li;
            list-style: none;
            border-radius: 0.3em;
            
            li{
                position: relative;
                background: variables.$colour-background;
                font-weight: bold;
                padding: 2rem;
                margin: 1rem;
                background: variables.$colour-medium;
                box-shadow: inset -5px -5px darken(variables.$colour-background, 10%);
                border-radius: 30px;
                display: flex;
                align-items: center;
                flex-basis: 30%;
                i{
                    padding-right: 1.5rem;
                }
                &:hover{
                    background: #ead7ffa6;
                    cursor: pointer;
                    i{
                        color: variables.$colour-primary;
                    }
                }
            }
            li:before {
                content:counter(li);
                counter-increment: li;
                background: variables.$colour-primary;
                color: white;
                font-size: 12px;
                border-radius: 50%;
                height: 2rem;
                display: grid;
                place-items: center;
                width: 2rem;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                left: 0;



            }
        }
    }

}


@media (min-width: variables.$tablet) {
    /* For tablets: */
    .instructions{
        text-align: center;
        nav{
            ol{
                display: flex;
                justify-content: space-between;
            }
        }
    }
}


