@use "../utils/variables";

.menu-list{
    display: flex;
    flex-direction: column;
    background: variables.$colour-background;

    h2{
        margin: 2rem 0 0 1.5rem
    }

    .card{
        background: white;
        width: 90%;
        margin: 1rem auto;
        border-radius: 20px;
        a{            
            display: flex;
            flex-direction: column;
            color: black;
            text-decoration: none;
            padding-bottom: 0.5rem;
            
            img{
                height: 10rem;
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
            }
            .card-text{
                background: red;
                display: flex;
                flex-direction: row;
                .card-description{
                    flex: 0.8;             
                    display: flex;
                    flex-direction: column;
                    margin: 1rem;
                }
                a{
                    text-align: end;            
                    align-self: center;  
                    font-size: 20px;
                    flex: 0.2;
                    padding-right: 1rem;
                }               
                    
            }
                
            
        }
    }
}