@use '../utils/variables';
@use '../components/hearts';

.menu-list{
    display: flex;
    flex-direction: column;
    background: variables.$colour-medium;

    h2{
        margin: 2rem 0 0 1.5rem
    }

    .card{
        background: variables.$colour-background;
        width: 90%;
        margin: 1rem auto;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        a{            
            color: black;
            text-decoration: none;
            padding-bottom: 0.5rem;
            
            img{
                height: 10rem;
                width: 100%;
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
            }
            .card-text{
                padding-left: 1rem;
                    
            }
        }
        
    }
}