@use '../utils/variables';
@use '../components/hearts';
@use '../utils/mixins';

.restaurant-picture{
    z-index: -1;
    position: relative;
    margin-bottom: -3rem;
}
.menu{
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    .header-menu{
        position: relative;
        display: flex;
        i{
            text-align: end;
        }
    }
    h3{
        margin: 2rem 2rem 0.5rem 1.5rem;
        font-size: 12px;
        font-weight: normal;
        border-bottom: solid variables.$colour-tertiary;
        border-width: 0.2rem;
    }
    .card{
        display: flex;
        flex-direction: row;

        .description{
            white-space: nowrap;
            flex: 1.5;
            padding: 1rem;
            p{
                padding: 0.5rem 0;
            }
        }
        
        .price{
            align-self: center;
            text-align: end;
            flex: 0.5;
            font-weight: bold;
            padding: 0 1rem;
        }

        i{
            @include mixins.tick;
        }
    }
}

.order{
    @include mixins.button(2rem 12rem);
}