@use '../utils/variables';
@use '../components/hearts';
@use '../utils/mixins';
@use '../utils/animations';


    .restaurant-picture{
        z-index: -1;
        position: relative;
        margin-bottom: -3rem;
    }
    .menu{
        min-width: variables.$min-screen;
        border-top-right-radius: 50px;
        border-top-left-radius: 50px;
        .header-menu{
            position: relative;
            display: flex;
            i{
                text-align: end;
            }
        }
        h3{
            margin: 1rem 0.5rem;
            &:before{
                border-bottom: solid variables.$colour-tertiary;
                content: "";
                position: absolute;
                width: 2rem;
                height: 1rem;
                padding: 0.2rem;
            }
        }
        .card{
            @for $i from 1 through 3{
                &:nth-child(#{$i}){
                    animation-delay: 100ms * $i;
                }
            }
            animation: appear 3s;
            display: flex;
            flex-direction: row;
            cursor: pointer;

            .description{
                flex: 1.5;
                padding: 1rem;
                p{
                    padding: 0.5rem 0;
                }
            }
            
            .price{
                align-self: center;
                text-align: end;
                flex: 0.5;
                font-weight: bold;
                padding: 0 1rem;
                
            }

            &:hover > i{
                @include mixins.tick;
            }

            i{
                display: flex;
                color: white;
                align-items: center;

            }
        }
    }
    
    
    .order{
        @include mixins.button(10rem);
    }


@media only screen and (min-width: variables.$desktop) {
    /* For desktop: */ 
    .menu{
        .dishes{
            display: flex;
        
            .card{
                margin: 0.5rem;
            }
        }
    }

}