@use '../utils/variables';
@use '../components/hearts';
@use '../utils/mixins';
@use '../utils/animations';


.restaurant-picture{
    z-index: -1;
    position: relative;
    margin-bottom: -3rem;
}
.menu{
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    .menu__header-menu{
        position: relative;
        display: flex;
        i{
            text-align: end;
        }
    }
    h3{
        margin: 1rem 0.5rem;
        &:before{
            border-bottom: solid variables.$colour-tertiary;
            content: "";
            position: absolute;
            width: 2rem;
            height: 1rem;
            padding: 0.2rem;
        }
    }
    .dishes{
        .dishes__card{
            @for $i from 1 through 4{
                &:nth-child(#{$i}){
                    animation: menu-appear 3s (300ms * $i) forwards;
                }
            }
            opacity: 0;
            display: flex;
            flex-direction: row;
            cursor: pointer;
            background: variables.$colour-background;
            margin: 1rem auto;
            border-radius: 20px;
            position: relative;
            width: 100%;
            align-items: center;
            overflow: hidden;
            
            .card__description{
                flex: 1;
                padding: 1rem 0.5rem;
                overflow: hidden;
                h4{
                    max-width: 70%;
                }
                p{
                    padding: 0.5rem 0;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
            
            .card__price{
                align-self: center;
                text-align: end;
                font-weight: bold;
                margin: 0 1rem;
                transition: transform 1s linear;
            }
            .green-box{
                @include mixins.green-box;
                .fa-check-circle{
                    transition: transform 1s linear;
                }
            }      
            &:hover{
                .card__price, .green-box{
                    transform: translateX(-100%);
                }
                .fa-check-circle{
                    transform: rotate(360deg);
                    
                }
        
            }

        }
    }
}
    
    
.order{
    @include mixins.button(10rem);
}


@media only screen and (min-width: variables.$desktop) {
.menu{
    .dishes{
        display: flex;
    
        .dishes__card{
            margin: 0.5rem;
        }
    }
}

}