@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
@keyframes appear {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 100;
  transition-delay: 3s;
}

h1, h2 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 200;
  overflow: hidden;
  text-overflow: ellipsis;
}

h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
}

h4 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-list .list .card i {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  height: 2rem;
  width: 2rem;
  font-size: 20px;
  border: none;
  align-self: end;
  cursor: pointer;
  color: inherit;
}
.menu-list .list .card i::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 200;
  content: "\f004";
}
.menu-list .list .card i:hover {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  height: 2rem;
  width: 2rem;
  font-size: 20px;
  border: none;
  align-self: end;
  cursor: pointer;
  color: #9356DC;
}
.menu-list .list .card i:hover::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
}

.menu-list .header-menu i {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  height: 2rem;
  width: 2rem;
  font-size: 20px;
  border: none;
  align-self: end;
  cursor: pointer;
  color: inherit;
}
.menu-list .header-menu i::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 200;
  content: "\f004";
}
.menu-list .header-menu i:hover {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  height: 2rem;
  width: 2rem;
  font-size: 20px;
  border: none;
  align-self: end;
  cursor: pointer;
  color: #9356DC;
}
.menu-list .header-menu i:hover::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
}

.loader {
  animation: disappear 1s forwards 4s;
  position: fixed;
  z-index: 1;
  inset: 0;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
}
.loader::before {
  content: "";
  border: 3px solid #9356DC;
  border-left-color: #FF79DA;
  border-radius: 50%;
  animation: spin 1s 4 linear;
  width: 10rem;
  height: 10rem;
}

header .logo {
  text-align: center;
  margin: auto;
  vertical-align: middle;
  display: flex;
  margin: 0.5rem 1rem;
}
header .logo i {
  color: black;
}
header .logo img {
  height: 2rem;
  width: 10rem;
  margin: auto;
}

.location {
  background-color: #e6e6e6;
  text-align: center;
  padding: 1rem 0;
  box-shadow: 0px 7px 7px 0px #d9d9d9 inset;
}
.location i {
  padding-right: 0.5rem;
  color: black;
}
.location input {
  background: transparent;
  border: none;
  width: 7rem;
}
.location ::placeholder {
  color: black;
  font-weight: bold;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  text-align: center;
}
.info h2 {
  padding: 2rem;
}
.info p {
  padding: 0 2rem;
}
.info button {
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  padding: 1rem;
  width: 15rem;
  border-radius: 25px;
  color: #FFFFFF;
  border-style: none;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 9px 16px -4px #d9d9d9;
  margin: 2rem auto;
}
.info button:hover {
  transform: scale(1.2);
  cursor: pointer;
  background: linear-gradient(0deg, #a16be0, #ff93e1);
  box-shadow: 0px 9px 16px -4px #bfbfbf;
}

.instructions {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
}
.instructions nav {
  margin-bottom: 2rem;
}
.instructions nav ol {
  counter-reset: li;
  list-style: none;
  border-radius: 0.3em;
}
.instructions nav ol li {
  position: relative;
  background: #FFFFFF;
  font-weight: bold;
  padding: 2rem;
  margin: 1rem;
  background: #f2f2f2;
  box-shadow: inset -5px -5px #e6e6e6;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-basis: 30%;
}
.instructions nav ol li i {
  padding-right: 1.5rem;
}
.instructions nav ol li:before {
  content: counter(li);
  counter-increment: li;
  background: #9356DC;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  aspect-ratio: 1;
  height: 2rem;
  display: grid;
  place-items: center;
  width: 2rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 0;
}
.instructions nav ol .nav__link--active {
  background: #ead7ffa6;
}
.instructions nav ol .nav__link--active i {
  color: #9356DC;
}

@media (min-width: 768px) {
  /* For tablets: */
  .instructions {
    text-align: center;
  }
  .instructions nav ol {
    display: flex;
    justify-content: space-between;
  }
}
.restaurant-picture {
  height: 20rem;
  width: 100%;
  object-fit: cover;
}

.menu-list {
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
  padding: 0 1rem;
}
.menu-list h2 {
  margin: 2rem 0;
}
.menu-list .card {
  background: #FFFFFF;
  margin: 0.5rem auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.menu-list .card a {
  color: black;
  text-decoration: none;
  padding-bottom: 0.5rem;
}
.menu-list .card a img {
  height: 10rem;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  object-fit: cover;
  position: relative;
}
.menu-list .card a .new-box {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: #99E2D0;
  padding: 0.5rem 2rem;
}
.menu-list .card a .card-text {
  padding: 0.5rem 1rem;
}

@media (min-width: 768px) {
  /* For tablets: */
  .menu-list h2 {
    text-align: center;
  }
  .menu-list .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
@media only screen and (min-width: 992px) {
  /* For desktop: */
  .menu-list .list {
    display: flex;
    flex-wrap: nowrap;
  }
}
.restaurant-picture {
  z-index: -1;
  position: relative;
  margin-bottom: -3rem;
}

.menu {
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}
.menu .header-menu {
  position: relative;
  display: flex;
}
.menu .header-menu i {
  text-align: end;
}
.menu h3 {
  margin: 1rem 0.5rem;
}
.menu h3:before {
  border-bottom: solid #99E2D0;
  content: "";
  position: absolute;
  width: 2rem;
  height: 1rem;
  padding: 0.2rem;
}
.menu .card {
  animation: appear 1s;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.menu .card:nth-child(1) {
  animation-delay: 100ms;
}
.menu .card:nth-child(2) {
  animation-delay: 200ms;
}
.menu .card:nth-child(3) {
  animation-delay: 300ms;
}
.menu .card .description {
  flex: 1.5;
  padding: 1rem;
}
.menu .card .description p {
  padding: 0.5rem 0;
}
.menu .card .price {
  align-self: center;
  text-align: end;
  flex: 0.5;
  font-weight: bold;
  padding: 0 1rem;
}
.menu .card:hover > i {
  visibility: visible;
  display: flex;
  border: 1px solid #99E2D0;
  padding: 2rem 1.5rem;
  font-size: 20px;
  align-self: end;
  cursor: pointer;
  background-color: #99E2D0;
  color: #FFFFFF;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.menu .card i {
  display: flex;
  color: white;
  align-items: center;
}

.order {
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  padding: 1rem;
  width: 10rem;
  border-radius: 25px;
  color: #FFFFFF;
  border-style: none;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 9px 16px -4px #d9d9d9;
  margin: 2rem auto;
}
.order:hover {
  transform: scale(1.2);
  cursor: pointer;
  background: linear-gradient(0deg, #a16be0, #ff93e1);
  box-shadow: 0px 9px 16px -4px #bfbfbf;
}

@media only screen and (min-width: 1100px) {
  /* For desktop: */
  .menu .dishes {
    display: flex;
  }
  .menu .dishes .card {
    margin: 0.5rem;
  }
}
footer {
  background: #333333;
  color: white;
  padding: 1.5rem;
}
footer h2 {
  margin-bottom: 1rem;
}
footer ul {
  list-style: none;
}
footer ul li {
  padding: 0.5rem 0;
}
footer ul li i {
  width: 1rem;
  height: 1rem;
  padding-right: 0.5rem;
}
footer ul li a {
  text-decoration: none;
  color: white;
}

@media (min-width: 768px) {
  /* For tablets: */
  footer {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
