@keyframes spin {
    0%{
        transform: rotate(0deg);


    }
    100%{        
        transform: rotate(360deg);  
      
    }
}

@keyframes heart-effect {
    0%{
        opacity: 0;
        
    }
    50%{
        
        opacity: 0.5;
    }
    100%{        
        opacity: 1; 
      
    }
}

@keyframes disappear{
    0%{
        opacity: 1;
        
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes appear {
    0%{
        transform: translateY(-50%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes tick-animation {
    0%{
        transform: rotate(-180deg);


    }
    100%{        
        transform: rotate(0deg);  
      
    }
}