@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{        
        transform: rotate(360deg);        
    }
}

@keyframes disappear{
    0%{
        opacity: 1;        
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes menu-appear {
    0%{
        transform: translateY(-50%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}