$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;

$colour-background: #FFFFFF;
$colour-location: darken($colour-background,5%);
$colour-medium: darken($colour-background, 2%);
$colour-footer: darken($colour-background, 80%);
